@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

body{
    font-family: 'Cormorant SC', serif;
    margin: 0;
    text-align: center;
}

a{
    text-decoration: none; 
}

button{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.navbar,.footer{
    background-color: blueviolet;
    color: white;
    padding: 2rem;
}
.navbar a,.footer a{
    color: white;
    margin: 0.5rem;
}

.navbar h1{
    text-align: left;
}

.navbar div{
    text-align: right;
}

.main-section{
    background-color: rgb(246, 210, 215);
    color: rgb(23, 23, 23);
    padding: 2rem;
}

.project h1{
    color: blueviolet;
}

.project{
    color: rgb(23, 23, 23);
    padding: 2rem;
}

.project button{
    color: white;
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

.project button:hover{
    color: blueviolet;
    background-color: white;
}

.blog{
    background-color:rgb(246, 210, 215);
    color: rgb(23, 23, 23);
    padding: 2rem;
}

.blog button{
    border: 1px solid rgb(23, 23, 23);
    background-color:rgb(246, 210, 215) ;
}

.blog button:hover{
    color:rgb(246, 210, 215) ;
    background-color:rgb(23, 23, 23) ;
}

